<footer class="contact">

  {% include rule.html %}

  <p class="contact-email"><a class="contact-link" href="mailto:hello@victorbilgin.com">hello@victorbilgin.com</a></p>

  <ul class="contact-social">
    {% if site.twitter_username %}
    <li class="contact-social-item"><a class="contact-link" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
    {% endif %}

    {% if site.github_username %}
    <li class="contact-social-item"><a class="contact-link" href="https://github.com/{{ site.github_username }}">Github</a></li>
    {% endif %}

    {% if site.linkedin_username %}
    <li class="contact-social-item"><a class="contact-link" href="https://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></li>
    {% endif %}
  </ul>

</footer>