<h1 class="main_nav-header">Victor Bilgin</h1>
<nav class="main_nav">
  <ul class="main_nav-list">
    <li class="main_nav-item"><a href="/about" class="main_nav-item-link">About</a></li>
    <li class="main_nav-item"><a href="/now" class="main_nav-item-link">Now</a></li>
    <li class="main_nav-item"><a href="https://wiki.victorbilgin.com/" class="main_nav-item-link">Wiki (-> GitBook)</a></li>
    <li class="main_nav-item"><a href="https://pinboard.in/u:vbilgin/" class="main_nav-item-link">Links (-> Pinboard)</a></li>
  </ul>
</nav>