<nav class="main-nav">
    <ul class="main-nav-list">
      <li class="main-nav__item"><a href="/about" class="main-nav__item__link">About</a></li>
      <li class="main-nav__item"><a href="/now" class="main-nav__item__link">Now</a></li>
      <li class="main-nav__item"><a href="https://write.as/vbilgin/" class="main-nav__item__link">Blog (write.as)</a></li>
      <li class="main-nav__item"><a href="https://wiki.victorbilgin.com/" class="main-nav__item__link">Wiki (GitBook)</a></li>
      <li class="main-nav__item"><a href="https://pinboard.in/u:vbilgin/" class="main-nav__item__link">Links (Pinboard)</a></li>
    </ul>
  </nav>