// === Contact === //
.contact-email {
  margin-bottom: 1.5rem;
}
.contact-link {
  @include ff--mono;

  @media only screen 
    and (max-device-width: 700px)
    and (max-width: 700px) {
    @include ff--mono(1.5rem);
  }
}

.contact-social {
  padding: 0;
  
}

.contact-social-item {
  margin-bottom: 0.25rem;

  @media screen and (max-width: 700px) {
    margin-bottom: 0.75rem;
    }
}

// === Copyright === //
.copyright {
  margin-top: 2rem;
  margin-bottom: 1.5rem;

 @include ff--mono;
}

// === Main Nav === //
.main_nav-header {
  @include ff--home-header;
  margin-bottom: 1.5rem;

  @media only screen 
  and (max-device-width: 700px)
  and (max-width: 700px) {
  @include ff--home-header(2rem);
  }
}

.main_nav {
  display: flex;
  flex-direction: column;
}

.main_nav-list {
  padding: 0;
  margin: 0;
}

.main_nav-item {
  margin-bottom: 0.25rem;

  @media screen and (max-width: 700px) {
    margin-bottom: 0.75rem;
    }
}

.main_nav-item-link {
 @include ff--mono;

 @media screen and (max-width: 700px) {
  @include ff--mono(1.5rem);
  }
}

// === Mini Nav === //
.mini_nav {
  margin-bottom: 3rem;
}
.mini_nav-link {
  @include ff--mono(0.85rem);

  @media screen and (max-width: 700px) {
    @include ff--mono(1.5rem);
  }
 }

// === Recent Posts === //
.recent_posts-header {
  @include ff--home-header;

  @media only screen 
  and (max-device-width: 700px)
  and (max-width: 700px) {
  @include ff--home-header(2rem);
  }
}

.recent_posts {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.recent_posts-item {
  margin-bottom: 0.25rem;

  @media screen and (max-width: 700px) {
    margin-bottom: 0.75rem;
    }
}

.recent_posts-item-link {
  @include ff--mono(0.85rem);

  @media screen and (max-width: 700px) {
    @include ff--mono(1.5rem);
  }
}

// === Rule === //
.rule {
  margin: 2rem 0;
  width: 50%;
  text-align: left;

  @media only screen 
  and (max-device-width: 700px)
  and (max-width: 700px) {
  width: 75%;
  }
}