.contact__email {
    margin-bottom: 1.5rem;
}

.contact__social {
    @include ulist;
}

.contact__social__item {
    margin-bottom: 1rem;

    @media screen and (max-width: 700px) {
        margin-bottom: 1.2rem;
    }
}

.contact__social__item:last-child {
    margin-bottom: 2rem;
}


.contact__link {
    @include ff-link;

    @media screen and (max-width: 700px) {
        @include ff-link(1.2rem)
    }
}