.post__header__title {
    @include ff-title;
}

.post {
    margin-bottom: 2rem;
}

.post > p {
    @include ff-body;
    margin-bottom: 2rem;
}

.post > p > a {
    @include ff-link(1rem);
}

.post > ul > li {
    @include ff-body;
    margin-bottom: 1.5rem;
}

.post > ol > li {
    @include ff-body;
    margin-bottom: 1.5rem;
}