.page__title {
    @include ff-title;
}

.page__content {
    margin-bottom: 2rem;
}

.page__content > p {
    @include ff-body;
    margin-bottom: 2rem;
}

.page__content > p > a {
    @include ff-link(1rem);
}

.page__content > ul > li {
    @include ff-body;
    margin-bottom: 1rem;
}

.page__content > ol > li {
    @include ff-body;
    margin-bottom: 1rem;
}